/* GLOBAL ELEMENTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.45;
}

h1 {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 1rem 0 0.5rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

.wrapper {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}


/* HEADER ELEMENTS */

.bg-slant {
  position: absolute;
  top: -600px;
  left: 0;
  right: 0;
  min-height: 60em;
  background-color: rgb(33, 160, 202);
  transform: skewY(-30deg);
  z-index: -1;
  box-shadow: 0 0.25rem 0.5em rgb(0 0 0 / 25%);
}

.img-profile-container {
  max-width: 780px;
  height: 500px;
}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0.25rem 0.25em rgb(0 0 0 / 15%);
}

.name {
  font-family: "Lora", serif;
  font-size: 3.25rem;
  color: #fff;
  position: absolute;
  top: 27rem;
  left: 2.25rem;
  text-shadow: 0px 4px 8px rgb(0 0 0 / 25%);

}

.about-me {
  margin-top: 2rem;
}

.icon-medium {
  width: 2rem;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 5rem;
}


/* MAIN ELEMENTS */

.grid {
  display: grid;
  gap: 4rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 10rem;
}

.my-work {
  margin-bottom: 1.5rem;
}

.project-card {
  min-height: 15rem;
  box-shadow: 0 0.25rem 0.25em rgb(0 0 0 / 25%);
}

.icon-small {
  height: 1.5em;
  width: auto;
  margin-left: 0.5rem;
}

.img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  height: 15rem;
  width: auto;
  color: white;
  font-family: "Lora", serif;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
}

.project-info-container {
  padding: 1rem;
  height: 10rem;
}

.project-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

.project-description {
  margin-top: 1rem;
  font-size: 1.1rem;
}


/* COLORS */

.purple {
  background-color: rgb(150, 94, 234);
}

.orange {
  background-color: orange;
}

.green {
  background-color: rgb(67, 135, 24);
}

.pink {
  background-color: rgb(214, 112, 150);
}

.blue {
  background-color: rgb(47, 152, 237);
}


/* FOOTER ELEMENTS */

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 160, 202);
  min-height: 30rem;
  color: #fff;
}

.contact-me-text {
  font-size: 1.25rem;
}

.contact-icon-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0 4rem;
}

.icon-large {
  width: 3rem;
}

.img-contact-container {
  max-width: 1000px;
  height: 450px;
}

.img-contact {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.address {
  margin: 1.5rem 0;
}

.phone,
.email {
  display: flex;
  align-items: center;
  margin: .25rem 0;
}

.icon-small-contact {
  height: 1.5em;
  width: auto;
  margin-right: 0.5rem;
}


/* RESPONSIVE DESIGN - Tablet and Desktop */

@media (min-width: 768px) {
  .bg-slant {
    transform: skewY(-15deg);
  }
  .wrapper {
    padding: 2rem 5rem;
  }
  h1 {
    text-align: left;
  }
  .name {
    position: absolute;
    top: 2rem;
    left: 33.25rem;
    transform: translateX(-50%);
    z-index: 3;
    min-width: 500px;
  }
  .img-profile-container {
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 400px;
    padding: 1rem;
    margin-top: -11rem;
    margin-left: -6rem;
    z-index: 2;
    float: left;
  }
  .about-me-card {
    box-shadow: 0 0.25rem 0.25em rgb(0 0 0 / 25%);
    padding: 3rem 2rem 4rem;
    background-color: #fff;
    margin-top: 8rem;
  }
  .about-me {
    margin: 0 0 0.5rem;
    text-align: center;
  }
  .contact-icon-container {
    justify-content: flex-start;
  }
  .social-icon-container {
    display: none;
  }
  footer {
    flex-direction: row;
  }
  .img-contact {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 2rem 4rem;
  }
  .name {
    position: relative;
    top: -5.5rem;
    left: 16.5rem;
    z-index: 3;
    min-width: 500px;
  }
  .img-profile-container {
    max-width: 350px;
    width: 100%;
    height: 500px;
    padding: 1.5rem;
    margin-top: -5.5rem;
    margin-left: -3.5rem;
    z-index: 2;
    float: left;
  }
  .about-me-card {
    box-shadow: 0 0.25rem 0.25em rgb(0 0 0 / 25%);
    padding: 2rem;
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    height: 380px;
  }
  .about-me {
    margin: 0 0 0.5rem;
    text-align: left;
  }
  .contact-icon-container {
    justify-content: flex-start;
  }
  .social-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  footer {
    flex-direction: row;
    gap: 1rem;
  }
}